
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    overflow-x: hidden;
}

#hed {
    background-color: black;
    height: 95vh;
    width: 100vw;
    position: relative;
}

#masthead a {
    text-decoration: none;
    color: white;
}

#masthead img {
    margin: 40px 0 0 40px;
    width: 250px;
}

#masthead a:hover {
    color: slategray;
}

#headline {
    color: white;
    position: absolute;
    bottom: 50%;
    left: 50%;
    min-height: 120px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#main-art img {
    color: white;
    width: 60%;
    max-width: 1000px;
    min-width: 400px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#left-gutter {
    position: relative;
}

.bylines {
    position: absolute;
    top: 150px;
    left: 25%;
}

.bylines b {
    color: white;
    font-size: 1.5em;
    font-family: "paralucent-text", sans-serif;
	font-weight: 700;
    font-style: normal;
    line-height: 2;
}

.bylines ul {
    list-style: none;
    margin: 0;
    padding: 0 0 10% 0;
}

.bylines li {
    color: white;
    font-family: "paralucent-text", sans-serif;
	font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 20px;
    margin-bottom: 10%;
}

#body-content {
    max-width: 100vw;
    margin-top: 100px;
    color: white;
}

@media screen and (max-width: 576px) {
    
    #body-content {
        margin: 400px 10% 0 10%;
        padding-right: 12%;
    }

    .bylines b {
        padding-left: 5%;
    }
    
    .bylines ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0 0 5% 0;
    }

    .bylines li {
        padding: 0 5% 0 5%;
        margin: 0;
    }

    .bylines {
        padding: 0;
        left: 10%;
        top: 10%;
        max-width: 100vw;
        
    }
}

.dropcap {
    font-size: 3.5em;
    font-family: "paralucent-text", sans-serif;
	font-weight: 700;
	font-style: normal;
    line-height: 0.8;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 1.6;
    margin: 15px 0;
    text-align: justify;
}

h1{
    text-align: center !important;
    font-size: 50px;
}

h4 {
    text-align: center;
}

.spacer{
    height: 40px;
}

.pic1 {
    display: block;
    margin: 0 auto;
    width: 80%; 
    height: auto;
}

.line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    border-bottom: 1px solid lightgrey;
}