
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    overflow-x: hidden;
}

#hed {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#masthead a {
    text-decoration: none;
    color: white;
}

#masthead img {
    margin: 40px 0 0 40px;
    width: 250px;
}

#masthead a:hover {
    color: slategray;
}

#headline {
    font-size: 3.5vmax;
    font-family: "chandler-42-regular", sans-serif;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 9px;
    font-style: italic;
    color: white;
    position: absolute;
    left: 50%;
    top: 55%;
    width: max-content;
    max-width: 75%;
    text-align: justify !important;
    margin: auto;
    align-content: normal;
    min-height: 250px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#article-top {
    margin-top: 10vh;
    height: 70vh;
    width: 100vw;
    position: relative;
}

#subhead {
    color: white;
    font-size: 2.8vmax;
    font-family: "paralucent-text", sans-serif;
	font-weight: 700;
    font-style: normal;
    position: absolute;
    transform: translate(-50%, -5%);
    top: 5%;
    left: 50%;
    text-align: center;
    animation-name: fadein;
    animation-duration: 4s;
    animation-direction: linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.head-char {
    animation-name: fadein;
    animation-duration: .5;
    animation-direction: linear;
}

#main-art img {
    color: white;
    width: 60%;
    max-width: 1000px;
    min-width: 400px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 10%);
    margin-top: 40px;
    animation-name: fadein;
    animation-duration: 4s;
    animation-direction: linear;
}

#left-gutter {
    position: relative;
}

.bylines {
    position: absolute;
    top: 150px;
    left: 25%;
}

.bylines b {
    color: white;
    font-size: 1.5em;
    font-family: "paralucent-text", sans-serif;
	font-weight: 700;
    font-style: normal;
    line-height: 2;
}

.bylines ul {
    list-style: none;
    margin: 0;
    padding: 0 0 10% 0;
}

.bylines li {
    color: white;
    font-family: "paralucent-text", sans-serif;
	font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 20px;
    margin-bottom: 10%;
}

#body-content {
    max-width: 100vw;
    margin-top: 100px;
    color: white;
}

@media screen and (max-width: 576px) {
    
    #body-content {
        margin: 400px 10% 0 10%;
        padding-right: 12%;
    }

    .bylines b {
        padding-left: 5%;
    }
    
    .bylines ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0 0 5% 0;
    }

    .bylines li {
        padding: 0 5% 0 5%;
        margin: 0;
    }

    .bylines {
        padding: 0;
        left: 10%;
        top: 10%;
        max-width: 100vw;
        
    }

    #headline {
        font-size: 3vmax;
    }

    #subhead {
        width: 70%;
        font-size: 3.5vmax;
        transform: translate(-50%, -5%);
        top: 5%;
        left: 50%;
    }

    #main-art img {
        width: 60%;
        max-width: 1000px;
        min-width: 400px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
}

.dropcap {
    font-size: 3.5em;
    font-family: "paralucent-text", sans-serif;
	font-weight: 700;
	font-style: normal;
    line-height: 0.8;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 1.6;
    margin: 15px 0;
    text-align: justify;
}

h1{
    text-align: center !important;
    font-size: 50px;
}

h4 {
    font-family: "paralucent-text", sans-serif;
	font-weight: 700;
    font-style: normal;
    line-height: 3;
}

.spacer{
    height: 40px;
}

.pic1 {
    display: block;
    margin: 0 auto;
    width: 80%; 
    height: auto;
}

.line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    border-bottom: 1px solid lightgrey;
}

.Team{
    max-width: 100%;
}

figcaption{
    text-align: center;
}


/* Audio stuff */

.play-pause-btn {
    width: 20px;
    aspect-ratio: 1;
}

.audio-card {
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
}

.audio-card span {
    padding: 0 6px;
    align-items: center;
    line-height: 25px;
}